@font-face {
    font-family: teko;
    src: url(../font/Teko-Bold.ttf);
    src: url(../font/Teko-Light.ttf);
    src: url(../font/Teko-Medium.ttf);
    src: url(../font/Teko-Regular.ttf);
    src: url(../font/Teko-SemiBold.ttf);
}

@font-face {
    font-family: teko_light;
    src: url(../font/Teko-Light.ttf);
}

@font-face {
    font-family: teko_md;
    src: url(../font/Teko-Medium.ttf);
}

@font-face {
    font-family: teko_rg;
    src: url(../font/Teko-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: teko_rg;
}

body,
html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:focus-visible {
    outline: none;
}

a:hover {
    color: #fff;
}

input:focus-visible {
    outline: none;
}

.container {
    max-width: 1400px;
    width: 100%;
}

.flex_align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_bt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// main video start 
.main_body {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.overlay_wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
}

// navbar start 
.nav_wrapper {
    .nav_inner {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }

    .main_logo {
        max-width: 260px;
        width: 100%;
    }

    .nav_content {
        max-width: 170px;
        width: 100%;

        .social_icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
        }

        .term_policy {
            display: flex;
            justify-content: space-between;

            .nav_title {
                font-weight: 300;
                font-size: 15px;
                line-height: 21px;
                color: #657255;
                font-family: teko_rg;
                cursor: pointer;
            }
        }
    }
}

// hero_wrapper start 
.hero_wrapper {
    height: calc(100vh - 91px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hero_inner {
        max-width: 470px;
        width: 100%;
        margin: 0 auto;
    }

    .hero_title {
        font-weight: 500;
        font-size: 27px;
        line-height: 39px;
        text-transform: uppercase;
        color: #825782;

    }

    .hero_detail {
        font-weight: 600;
        font-size: 38px;
        line-height: 54px;
        text-transform: uppercase;
        color: #1E695A;
    }

}

.hero_btnz {
    display: flex;
    gap: 10px;
}

.hero_btn {
    max-width: 109px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: teko_rg;
    cursor: pointer;

    &.bg_signup {
        background: #440F3B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;

        &:hover {
            opacity: 0.8;
        }
    }

    &.bg_credit {
        background: #04041A;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #2DA990;

        &:hover {
            opacity: 0.8;
        }
    }

    &.bg_api {
        background: #04041A;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;

        &:hover {
            opacity: 0.8;
        }
    }

    &.bg_faq {
        background: #156353;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;

        &:hover {
            opacity: 0.8;
        }
    }
}

// terms and condition modal start 
.hero_modal {
    .modal-content {
        background: linear-gradient(180deg, #5C245C 0%, #04041A 99.99%, rgba(4, 4, 26, 0.42) 100%);
        border-radius: 8px;

        .hero_btnz {
            justify-content: center;
            gap: 20px;
            margin-bottom: 40px;

            .hero_btn {
                text-transform: uppercase;
            }

            .bg_decline {
                background: #7A1C1C;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }

    .modal-header {
        border: none;
        padding: 0;
        padding-top: 30px;
        padding-bottom: 15px;

        h5 {
            font-weight: 700;
            font-size: 27px;
            line-height: 39px;
            text-transform: uppercase;
            color: #F5F5F5;
            font-family: teko_light;
        }
    }

    .modal-footer {
        display: unset;
        border: none;
        padding: 0;

        &.create_account_footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 40px;

            .bg_faq {
                max-width: 168px;
                width: 100%;
            }

            .bg_decline {
                color: #BE2020;
                background-color: unset;
                text-decoration: underline;
                height: 26px;
            }
        }
    }

    .modal-body {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        color: #F5F5F5;
        font-family: teko_light;
        background: rgba(217, 217, 217, 0.64);
        border-radius: 5px;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
        padding-bottom: 0;
        height: 300px;

        .terms_details {
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;

            a {
                color: #fff;
                text-decoration: underline;
            }

            p {
                color: #fff;
            }

            .fw_500 {
                font-weight: 500;
            }

            .fw_700 {
                font-weight: 700;
            }

            .fs_it {
                font-style: italic;
            }
        }

        // custom tooltip start 

        .cus_tooltip {
            position: relative;
            display: inline-block;
            padding-left: 2px;


            .cus_tooltiptext {
                visibility: hidden;
                width: 170px;
                background-color: #D9D9D9;
                color: #807775;
                text-align: center;
                border-radius: 6px;
                padding: 0 5px;
                font-size: 12px;
                line-height: 12px;
                padding: 5px;
                /* Position the tooltip */
                position: absolute;
                z-index: 1;
                left: 20px;
                top: -5px;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 2px;
                    left: -7px;
                    transform: rotate(90deg);
                    margin-left: 0;
                    border-width: 10px 0 0 10px;
                    border-style: solid;
                    border-color: #D9D9D9 transparent transparent transparent;
                }
            }

            &:hover .cus_tooltiptext {
                visibility: visible;
            }

            .tooltiptext_2 {
                top: -16px;
            }

            .tooltiptext_3 {
                top: -28px;
                font-size: 10px;
                width: 210px;
            }

            .tooltiptext_4 {
                width: 165px;
                top: -17px;
            }

        }

        // custom tooltip end

        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: unset;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #D9D9D9;
            border-radius: 8px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: rgb(129, 45, 104);
        }

        // create account 
        &.create_account_body {
            background: unset;
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
            padding: 0;
            margin-bottom: 15px;
            height: auto;

            label {
                color: #D9D9D9;
            }

            .input_group {
                margin-bottom: 20px;

                &.input_select {
                    .form-select {
                        background-image: url('../img/crypto_icon.svg');
                        background-size: 23px;
                        background-repeat: no-repeat;
                        height: 30px;
                        background-color: #D9D9D9;
                        border-radius: 8px;
                        font-size: 18px;
                        line-height: 20px;
                        color: #000;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        background-position-x: calc(100% - 6px);
                        cursor: pointer;
                    }
                }

                .crypto_img {
                    top: 0;
                    right: 5px;
                }
            }

            input {
                height: 30px;
                background: #D9D9D9;
                border-radius: 8px;
                font-size: 18px;
                line-height: 20px;
                color: #000;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        &.faq_body {
            padding-bottom: 30px;
            margin-bottom: 50px;

            .faq_que_ans {
                margin-bottom: 10px;
            }

            .faq_que {
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                text-transform: capitalize;
                color: #D9D9D9;
                font-family: 'Tahoma';
                margin-bottom: 5px;
            }

            .faq_ans {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                text-transform: capitalize;
                color: #D9D9D9;
                font-family: 'Tahoma';
            }


        }

        &.account_created {
            color: #fff;
            text-align: center;
            background-color: unset;
            height: auto;

            .created_detail {
                font-weight: 700;
                font-size: 20px;
                line-height: 17px;
                text-align: center;
                text-transform: capitalize;
                color: #D9D9D9;
                font-family: 'teko_light';
            }

            .email_sent {
                text-decoration: underline;
                cursor: pointer;
            }

            .created_text {
                font-weight: 400;
                font-size: 18px;
                line-height: 16px;
                text-align: center;
                text-transform: capitalize;
                color: #D9D9D9;
                font-family: teko_rg;
                margin: 20px 0;
            }
        }

    }

    .try_now {
        max-width: 64px;
        height: 28px;
        width: 100%;
        background: #8926a7;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFFFFF;
        font-family: teko_light;
        margin: 0 auto;
    }

    .checkbox_group {
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;

        .check_detail {
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            text-transform: capitalize;
            color: #D9D9D9;
            font-family: 'Tahoma';
            a{
                cursor: pointer;
            }
        }

        .checkbox_label {
            position: relative;
            cursor: pointer;
            top: -6px;

            &::before {
                content: '';
                background-color: #D9D9D9;
                border-radius: 2px;
                padding: 8px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 5px;
            }
        }

        input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
        }

        input:checked+label:after {
            content: '';
            display: block;
            background-image: url('../img/tick.svg');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            width: 11px;
            height: 11px;
            left: 3px;
            top: 7px;
        }
    }

    .add_credit_2 {
        max-width: 400px !important;
        width: 100%;

        .input_group {
            display: flex;
            gap: 7px;
            align-items: center;

            label {
                font-size: 20px;
                font-family: teko_light;
                line-height: 19px;
            }

            input {
                width: 295px;
                font-weight: 400;
                font-size: 20px;
                line-height: 29px;
                text-transform: uppercase;
                color: #657255;

                &::placeholder {
                    color: #657255;
                }
            }
        }

        .date_input {
            input {
                width: 120px;
            }
        }

        .email_instruction {
            input {
                width: 145px;
            }
        }

        .payment_success {
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            text-transform: capitalize;
            color: #D9D9D9;
            font-family: 'Tahoma';
            margin-bottom: 40px;
        }
    }
}

.api_modal {
    .modal-header {
        .nav-link {
            font-weight: 300;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            color: rgba(4, 4, 26, 0.42);
            padding: 5px 0;
            line-height: 22px;
            font-family: teko_light;

            &.active {
                background: #156353;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border: none;
                color: #FFFFFF;
            }

            &:hover {
                border: none;
            }
        }

        .nav-item {
            max-width: 115px;
            width: 100%;
            background: #657255;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 3px;

        }

        .nav {
            gap: 3px;

        }

        .nav-tabs {
            border: none;
        }
    }
}

// Responsive part start 
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .hero_wrapper {
        height: 100vh;
    }

    .nav_wrapper .main_logo {
        max-width: 200px;
    }

    .nav_wrapper .nav_inner {
        padding-top: 15px;
    }

    .hero_wrapper .hero_detail {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 8px;
    }

    .hero_wrapper .hero_title {
        font-size: 22px;
        line-height: 30px;
    }
}

//  mobile 
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .hero_modal .modal-body .cus_tooltip .cus_tooltiptext {
        top: -9px;
    }
    .hero_modal .modal-body .cus_tooltip .tooltiptext_2 {
        top: -20px !important;
    }
    .hero_modal .modal-body .cus_tooltip .tooltiptext_3 {
        top: -32px !important;
    }
    .hero_modal .modal-body .cus_tooltip .tooltiptext_4 {
        top: -22px !important;
    }
    .nav_wrapper .nav_inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
    }

    .nav_wrapper .nav_content .social_icons img {
        width: 18px;
    }

    .nav_wrapper .nav_content .term_policy .nav_title {
        font-size: 14px;
    }

    .nav_wrapper .nav_content {
        max-width: 160px;
    }

    .nav_wrapper .main_logo {
        max-width: 165px;
    }

    .hero_wrapper .hero_title {
        font-size: 20px;
        line-height: 20px;
    }

    .hero_wrapper .hero_detail {
        font-size: 22px;
        line-height: 24px;
    }

    .hero_wrapper {
        height: calc(100vh - 85px);
    }

    .hero_btn {
        height: 35px;
        max-width: 80px;
        font-size: 16px;
        line-height: 20px;
    }

    .hero_btnz {
        gap: 5px;
    }

    .hero_modal .modal-header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .hero_modal .modal-header h5 {
        font-size: 24px;
        line-height: 28px;
    }

    .hero_modal .modal-body {
        font-size: 20px;
        line-height: 24px;
    }

    .hero_modal .checkbox_group {
        max-width: 300px;
    }

    .hero_modal .add_credit_2 .input_group {
        justify-content: center;
    }

    .hero_modal .add_credit_2 .input_group input {
        width: 250px;
    }

    .hero_modal .modal-body.create_account_body .input_group {
        margin-bottom: 15px;
    }

    .hero_modal .add_credit_2 .payment_success {
        text-align: center;
    }
}