@font-face {
    font-family: Tahoma;
    src: url(../public/assets/font/Tahoma-Regular-font.ttf);
}

.cst-font-tahoma {
    font-family: Tahoma;
}



.seller-dashaboard-class {
    background: linear-gradient(180deg, #440F3B 0%, #3A1740 28.71%, #2E143D 59.94%, #04041A 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cst-border-white {
    background: none !important;
    border-color: white;
    color: white;
}

.add-product-cst {
    cursor: pointer;
}

.from-icon-cst {
    color: #2CB196;
    font-size: 16px;
    margin-right: 8px;
}

.member-since-icon-cst {
    color: #2CB196;
    font-size: 14px;
    margin-right: 8px;
}

.clas-cat {
    background: transparent !important;
    color: white !important;
}

select option {
    background: #3A1740 !important;
    color: white !important;
}

.form-select {
    border-radius: 10px !important;
}

.Select {
    background: #3A1740 !important;
    color: white !important;
}

.cst-bk {
    background: linear-gradient(180deg, #440F3B 0%, #3A1740 28.71%, #2E143D 59.94%, #04041A 100%);
    color: white;

}

.css-1p3m7a8-multiValue {
    background-color: hsl(295.71deg 50% 16.47%) !important;
    border-radius: 7px !important;
    margin: 2px;
    padding: 2px;
}

.css-wsp0cs-MultiValueGeneric {
    color: white !important;
}

.css-12a83d4-MultiValueRemove:hover {
    background-color: #3c153f !important;
    color: white !important;
}

.btn-new-key-genrate {
    color: white !important;
    border: 1px solid white;
    border-radius: 6px;
    background-color: #522054;

}

.btn-green-cst {
    background-color: #156353 !important;
    color: white !important;
}

.btn-green-cst:hover {
    background-color: #156353 !important;
    color: white !important;
}

.modal-header {
    border-bottom: none;
}