.seller-dashaboard-class {
    background: linear-gradient(180deg, #440F3B 0%, #3A1740 28.71%, #2E143D 59.94%, #04041A 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cst-border-white {
    background: none !important;
    border-color: white;
    color: white;
}

.add-product-cst {
    cursor: pointer;
}

.from-icon-cst {
    color: #2CB196;
    font-size: 16px;
    margin-right: 8px;
}

.member-since-icon-cst {
    color: #2CB196;
    font-size: 14px;
    margin-right: 8px;
}


.sasasa {
    
    background: transparent !important;
}